<%= form_for @club do |f| -%>
  <%= render 'layouts/errors', object: f.object %>
  <div class="field">
    <div class="small-3 columns"><%= f.label :name, "Name", class: "inline" %></div>
    <div class="small-9 columns"><%= f.text_field :name %></div>
  </div>
  <div class="field">
    <div class="small-3 columns"><%= f.label :abbr, "Abbreviation", class: "inline" %></div>
    <div class="small-9 columns"><%= f.text_field :abbr %></div>
  </div>
  <div class="field">
    <div class="small-3 columns"><%= f.label :contact, "Contact", class: "inline" %></div>
    <div class="small-9 columns"><%= f.text_field :contact %></div>
  </div>
  <div class="field">
    <div class="small-3 columns"><%= f.label :email, "Email", class: "inline" %></div>
    <div class="small-9 columns"><%= f.text_field :email %></div>
  </div>
  <div class="field">
    <div class="small-3 columns"><%= f.label :url, "Website", class: "inline" %></div>
    <div class="small-9 columns"><%= f.text_field :url %></div>
  </div>
  <div class="field">
    <div class="small-3 columns"><%= f.label :division, "Division", class: "inline" %></div>
    <div class="small-9 columns"><%= f.text_field :division %></div>
  </div>
  <div class="field">
    <div class="small-6 columns"><%= f.submit "Submit", :disable_with => 'Submiting...', class: "button large radius" %></div>
    <div class="small-6 columns"><%= link_to "Back", :back, class: "secondary button large radius right" %></div>
  </div> 
<% end -%>
