<%= provide(:title, "Clubs index") %>
<h1>Clubs Index</h1>
<p>The following clubs are currently in the database:</p>
<p>Download as <%= link_to "CSV", clubs_path(format: 'csv'), class: "button tiny radius" %></p>
<div id="div1">
  <h2>Division 1</h2>
  <%= render 'table', clubs: @div1 %>
</div>
<div id="div2">
  <h2>Division 2</h2>
  <%= render 'table', clubs: @div2 %>  
</div>
<div id="unassigned">
  <h2>Unassigned clubs</h2>
  <%= render 'table', clubs: @others %>
</div>
<%= link_to "Add new club", new_club_path, class: "button radius large" %>
<%= link_to "Import clubs", import_clubs_path, class: "button radius large" %>