<%= provide(:title, "Seasons index") %>
<h1>All Seasons</h1>
<p>The following seasons have been defined:</p>
<% if @seasons.any? %>
  <table>
    <tr>
      <th width="60%">Name</th>
      <th width="20%">Fixtures</th>
      <th width="20%">Actions</th>
    </tr>
    <% @seasons.each do |s| %>
    <tr>
      <td><%= link_to s.name, season_path(s) %></td>
      <td><%= s.fixtures.count %></td>
      <td><%= link_to 'Edit', edit_season_path(s), class: "secondary button tiny radius" %> <%=link_to "Delete", delete_season_path(s), class: "alert button tiny radius" %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p>No seasons yet</p>
<% end %>

<%= link_to "Add season", new_season_path, class: "button large radius" %>