<h1><%= @season.name %></h1>

<% @fixtures.each_with_index do |f,i| %>
  <p>Fixture <%= i+1 %>: 
  <% if f.date > Date.today %>
    To be held
  <% else %>
    Held
  <% end %>
  on <%= f.date.strftime("%d %B %Y") %> at <%= f.location %>
  <% if f.clubs.any? %>, hosted by <%= f.clubs.length > 1 ? f.clubs.map(&:name).join(' and ') : f.clubs.first.name %>
  <% end %>
  </p>
  <% f.races.each do |r| %>
    <%= link_to r.classification, race_path(r) %></br>
  <% end %>
<% end %>

<p><%= link_to "Back to seasons index", seasons_path %></p>