<h1><%= @season.name %></h1>

<% @fixtures.each_with_index do |f,i| %>
  <p>Fixture <%= i+1 %>: 
  <% if f.date > Date.today %>
    To be held
  <% else %>
    Held
  <% end %>
  on <%= f.date.strftime("%d %B %Y") %> at <%= f.location %>
  <% if f.clubs.any? %>, hosted by <%= f.clubs.length > 1 ? f.clubs.map(&:name).join(' and ') : f.clubs.first.name %>
  <% end %>
  </p>
  <ul>
  <% f.races.each do |r| %>
    <li><%= link_to r.classification, race_path(r) %></li>
  <% end %>    
  </ul>
<% end %>
<%= link_to "Back", :back, class: "secondary large button radius" %>