<h1><%= @season.name %></h1>
<ul>
<% @fixtures.each_with_index do |f,i| %>
  <li>Fixture <%= i+1 %>: 
  <% if f.date > Date.today %>
    To be held
  <% else %>
    Held
  <% end %>
  on <%= f.date.strftime("%d %B %Y") %> at <%= f.location %>, hosted by <%= f.host %></li>
<% end %>
</ul>
<%= link_to "Back to seasons index", seasons_path %>