<%= provide(:title, "#{@race.classification}") %>
<h1><%= @race.classification %> Results</h1>
<p>Fixture held on <%= @race.fixture.date.strftime("%d %B %Y") %> at <%= @race.fixture.location %></p>

<table>
  <thead>
    <tr>
      <th class="center">Position</th>
      <th class="center">Time</th>
      <th>Athlete</th>
      <th>Club</th>
      <th class="center">Div</th>
      <th class="center">Category</th>
      <th class="center">Points</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |res| %>
    <tr>
      <td class="center"><%= res.position %></td>
      <td class="center"><%= res.formatted_time %></td>
      <td><%= link_to res.athlete_name, athlete_path(res.athlete) %></td>
      <td><%= res.club.name %></td>
      <td class="center"><%= res.division || nil %></td>
      <td class="center"><%= res.athlete.category(@race.fixture.date) %></td>
      <td class="center"><%= res.points %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if @race.score_by_category? %>
  <div class="medium-6 columns">
    <table>
      <thead>U15
        <tr>
          <th></th>
          <th>Team</th>
          <th>Scores</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      <% @race_scores.where('team_name LIKE ?', '%U15%').each_with_index do |rs, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= rs.team_name %></td>
          <td><%= rs.scores %></td>
          <td><%= rs.total %></td>
        </tr>
      <% end %>        
      </tbody>
    </table>
  </div>
  <div class="medium-6 columns">
    <table>
      <thead>U17
        <tr>
          <th></th>
          <th>Team</th>
          <th>Scores</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      <% @race_scores.where('team_name LIKE ?', '%U17%').each_with_index do |rs, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= rs.team_name %></td>
          <td><%= rs.scores %></td>
          <td><%= rs.total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= link_to 'Calculate Scores', score_race_path %>