<%= provide(:title, "Athletes Index") %>
<h1>Athletes Index</h1>
<p>There are <%= pluralize(@athletes.count, "athlete") %> in the database</p>

<% if @athletes.any? %>
  <table>
    <thead>
      <th>Full name</th>
      <th>Club</th>
      <th>Category</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <% @athletes.each do |a| %>
      <tr>
        <td><%= a.full_name %> </td>
        <td><%= a.club.name %></td>
        <td><%= a.category(Date.today) %></td>
        <td>
          <%= link_to "Show", athlete_path(a), class: "button small" %>
          <%= link_to "Edit", edit_athlete_path(a), class: "button small" %>
          <%= link_to "Delete", delete_athlete_path(a), class: "button small" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to "Add an athlete", new_athlete_path, class: "button large" %>
