<%= provide(:title, "Athletes Index") %>
<h1>Athletes Index</h1>
<p>There are <%= pluralize(@athletes.count, "athlete") %> in the database</p>
<%= will_paginate @athletes %>
<% if @athletes.any? %>
  <%= render 'shared/athlete_table', athletes: @athletes %>
<% end %>
<%= will_paginate @athletes %>
<%= link_to "Add an athlete", new_athlete_path, class: "button radius large" %>
<%= link_to "Import athletes", import_athletes_path, class: "button radius large" %>
