<%= provide(:title, "#{@athlete.full_name}".html_safe) %>
<div class="medium-6 columns small-centred">
  <h1><%= @athlete.full_name %></h1>
  <div class="field">
    <div class="small-4 columns"><p>Club</p></div>
    <div class="small-8 columns">
      <p><%= @athlete.club.name %>&nbsp;<% if @athlete.second_claim? %><small>(Second claim)</small><% end %></p></div>
  </div>
  <div class="field">
    <div class="small-4 columns"><p>Category</p></div>
    <div class="small-8 columns"><p><%= @athlete.category(Date.today) %></p></div>
  </div>
<p>The results of the last 10 races for this person will be displayed below :-)</p>
</div>
<div class="large-12 columns">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Location</th>
        <th>Time</th>
        <th>Position</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
    <% @athlete.results.each do |r| %>
      <tr>
        <td><%= r.fixture.date %></td>
        <td><%= r.fixture.location %></td>
        <td><%= r.formatted_time %></td>
        <td><%= r.position %></td>
        <td><%= r.category %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>