<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="page-wrap">
      <%= render 'layouts/header' %>
      <div class="row">
        <%= render 'layouts/flash' %>
        <%= yield %>
        <% if Rails.env.development? %>
        <div class="params small-12 columns"><%= debug(params) %></div>
        <% end %>
      </div>
  </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>